# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# C / Assembly Build Artifacts
*.o
*.so
src/libspcore.so
src/sp_core.o

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
